
.search-div-style{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-content: center;
    justify-items: center;
    padding: 2rem;
    max-width: 90%;
    margin: 0 auto;
}

@media (min-width: 1024px){
.search-div-style {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    justify-content: center;
    justify-items: center;
    padding: 2rem;
    max-width: 90%;
    margin: 0 auto;
}
}