/* ==========================
   NAVBAR MOBILE
========================== */
@media screen and (orientation: portrait) and (max-width: 760px) {
    .first-navbar-container, 
    .search-div {
        display: none;
    }
    
    #container-navbar {
        position: relative;
        /*display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
        height: 50px;
        flex-direction: row;*/
        background-color: var(--white);
        width: 100%;
    }

    /*Header navbar layout en una sola fila */
    .second-navbar-container {
        display: flex;
        /*flex-direction: row;*/
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
        /*gap: 1rem;
        flex: 1;*/
        height: 4rem;
        width: 85%;
    }  


    .burger-button {
        flex-shrink: 0;
        /*display: block;*/
        background: none;
        border: none;
        cursor: pointer;
        /*padding: 0.5rem;*/
        /*z-index: 1000;*/
        width: 5%;
        height: 5%;
        opacity: 0.2;
        margin-top: 0rem;
        margin-left: 1rem;
        margin-bottom: 1rem;
        
      }

    

    .logo-div {
        display: flex;
        justify-content: flex-start;
        flex: 1;
        margin-left: 1.5rem;
    }

    .logo-img {
        height: 4rem;
        width: auto;
        object-fit: contain;
        opacity: 0.5;
        padding-top: 4.5rem;
        margin-left: 1rem;
    }

    .login-div-navbar {
        display: flex;
        gap: 10px;
        align-items: center;
        flex-shrink: 0;
        padding-top: 4.5rem;
    }

    .login-icon-navbar, .cart-icon-navbar {
        width: auto;
        height: auto;
    } 

    

    /*Menú desplegable*/
    .third-navbar-container {
        display: flex;
        flex-direction: column;
        visibility: hidden;
        opacity: 0;
        height: 0;
        overflow: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--white);
        width: 100%;
        box-shadow: var(--box-shadow);
        padding: 1.5rem;
        z-index: 999;
        transition: all 0.3s ease-in-out;
        font-size: larger;
        width: 75%;
    }

    .third-navbar-container > a {
        opacity: 0.5;
    }

    .third-navbar-container.visible {
        visibility: visible;
        opacity: 1;
        height: auto;
    }

    .first-navbar-container {
        display: none;
    }

    .search-div {
        display: none;
    }

    .categories-navbar-button, .search-box-navbar {
        display: none;
    }
}

/* ==========================
   NAVBAR MONITOR-PEQUEÑO
========================== */
@media screen and (min-width: 761px) and (max-width: 820px) {
    .burger-button {
        display: none;
    }

    .first-navbar-container {
        height: 40px;
        background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        padding-right: 20px;
    }

    .first-navbar-container .rrss-icons {
        height: 35px;
    }

    .second-navbar-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        background-color: var(--gray-color);
        padding: 0 30px;
    }

    .second-navbar-container .logo-img {
        height: 58px;
        width: auto;
        object-fit: contain;
    }

    .search-div {
        width: 50%;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search-box-navbar {
        width: 60%;
        text-align: right;
        padding: 0.5rem;
    }

    .categories-navbar-button {
        background-color: black;
        color: white;
        width: 40%;
        padding: 0.5rem;
    }

    .login-div-navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;
    }

    .login-div-navbar a {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .login-icon-navbar,
    .cart-icon-navbar {
        width: 30px;
        height: 30px;
    }

    .third-navbar-container {
        height: 40px;
        background-color: var(--blue-color);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 60px;
    }
}

/* ==========================
   NAVBAR MONITOR-GRANDE
========================== */
@media screen and (min-width: 821px) {
    .burger-button {
        display: none;
    }

    .first-navbar-container {
        height: 40px;
        background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        padding-right: 20px;
    }

    .first-navbar-container .rrss-icons {
        height: 35px;
    }

    .second-navbar-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        background-color: var(--gray-color);
        padding: 0 30px;
    }

    .second-navbar-container .logo-img {
        height: 58px;
        width: auto;
        object-fit: contain;
    }

    .search-div {
        width: 50%;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search-box-navbar {
        width: 60%;
        text-align: right;
        padding: 0.5rem;
    }

    .categories-navbar-button {
        background-color: black;
        color: white;
        width: 40%;
        padding: 0.5rem;
    }

    .login-div-navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;
    }

    .login-div-navbar a {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .login-icon-navbar,
    .cart-icon-navbar {
        width: 30px;
        height: 30px;
    }

    .third-navbar-container {
        height: 40px;
        background-color: var(--blue-color);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 60px;
    }
}
