@media screen and (max-width: 760px) {
body {
    font-family: var(--text-font);
}

.product-section-detail {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  box-shadow: 1px solid var(--color);
  border: 1px solid rgba(0, 0, 0, 0.08);
  padding: 3.5rem;
  background-color: var(--white);
  margin-bottom: 2rem;
}

.product-section-detail img {
  width: 100%;
  height: 17.5rem;
  object-fit: cover;
  position: relative;
}

.product-details-container {
  flex: 1;
  min-width: 2rem;
}

.product-details-container h2 {
  margin-top: 0;
  font-size: 1.8rem;
  font-family: var(--text-title);
}

.product-details-container p {
  margin: 0.5rem 0;
  font-size: 1rem;
  font-family: var(--text-font);
}

.quantity-selector {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  font-family: var(--text-font);
}

.quantity-selector button {
  width: 2rem;
  height: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--blue-color);
  border: none;
  font-family: var(--text-font);
  
}

.quantity-selector span {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0 0.5rem;
  font-family: var(--text-font);
}

.size-buttons {
  display: flex;
  gap: 0.5rem;
  margin: 0.5rem 0;
  font-family: var(--text-font);
}

.size-buttons button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--blue-color);
  cursor: pointer;
  transition: 0.2s;
}

.size-buttons button.selected {
  border-color: none;
  background-color: var(--white);
  font-weight: bold;
}

.date-container {
  margin: 1rem 0;
}

.date-container label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.3rem;
  font-family: var(--text-font);
}

.date-container input[type="date"] {
  padding: 0.4rem;
  box-shadow: 1px solid var(--color);
  border: 1px solid rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.date-container p {
  font-size: 0.9rem;
  margin: 0.5rem 0 0 0;
  font-family: var(--text-font);
}

.date-container small {
  color: var(--color);
  opacity: 0.5;
  display: block;
  margin-bottom: 0.5rem;
}

.btn-agregar {
  margin-top: 0.5rem;
  background-color: var(--pink);
  color: var(--color);
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.product-details-container > div:last-child {
  margin-top: 1.5rem;
  font-size: 0.95rem;
  border: 1px solid rgba(0, 0, 0, 0.08);
}

}

@media screen and (min-width: 761px) and (max-width: 1028px) {
body {
    font-family: var(--text-font);
}

.product-section-detail {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: stretch;
  justify-content: center;
  gap: 2rem;
  box-shadow: 1px solid var(--color);
  border: 1px solid rgba(0, 0, 0, 0.08);
  padding: 3.5rem;
  background-color: var(--white);
  margin-bottom: 2rem;
}

.product-section-detail img {
  width: 17.5rem;
  height: 41rem;
  object-fit: cover;
}

.product-details-container {
  flex: 1;
  min-width: 2rem;
}

.product-details-container h2 {
  margin-top: 0;
  font-size: 1.8rem;
  font-family: var(--text-title);
}

.product-details-container p {
  margin: 0.5rem 0;
  font-size: 1rem;
  font-family: var(--text-font);
}

.quantity-selector {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  font-family: var(--text-font);
}

.quantity-selector button {
  width: 2rem;
  height: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--blue-color);
  border: none;
  font-family: var(--text-font);
}

.quantity-selector span {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0 0.5rem;
  font-family: var(--text-font);
}

.size-buttons {
  display: flex;
  gap: 0.5rem;
  margin: 0.5rem 0;
  font-family: var(--text-font);
}

.size-buttons button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--blue-color);
  cursor: pointer;
  transition: 0.2s;
}

.size-buttons button.selected {
  border-color: none;
  background-color: var(--white);
  font-weight: bold;
}

.date-container {
  margin: 1rem 0;
}

.date-container label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.3rem;
  font-family: var(--text-font);
}

.date-container input[type="date"] {
  padding: 0.4rem;
  box-shadow: 1px solid var(--color);
  border: 1px solid rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.date-container p {
  font-size: 0.9rem;
  margin: 0.5rem 0 0 0;
  font-family: var(--text-font);
}

.date-container small {
  color: var(--color);
  opacity: 0.5;
  display: block;
  margin-bottom: 0.5rem;
}

.btn-agregar {
  margin-top: 0.5rem;
  background-color: var(--pink);
  color: var(--color);
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.product-details-container > div:last-child {
  margin-top: 1.5rem;
  font-size: 0.95rem;
  border: 1px solid rgba(0, 0, 0, 0.08);
}
}

@media screen and (min-width: 1029px) {
body {
    font-family: var(--text-font);
}

.product-section-detail {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: stretch;
  justify-content: center;
  gap: 2rem;
  box-shadow: 1px solid var(--color);
  border: 1px solid rgba(0, 0, 0, 0.08);
  padding: 3.5rem;
  background-color: var(--white);
  margin-bottom: 2rem;
}

.product-section-detail img {
  width: 25rem;
  height: 41rem;
  object-fit: cover;
}

.product-details-container {
  flex: 1;
  min-width: 2rem;
}

.product-details-container h2 {
  margin-top: 0;
  font-size: 1.8rem;
  font-family: var(--text-title);
}

.product-details-container p {
  margin: 0.5rem 0;
  font-size: 1rem;
  font-family: var(--text-font);
}

.quantity-selector {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  font-family: var(--text-font);
}

.quantity-selector button {
  width: 2rem;
  height: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--blue-color);
  border: none;
  font-family: var(--text-font);
  
}

.quantity-selector span {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0 0.5rem;
  font-family: var(--text-font);
}

.size-buttons {
  display: flex;
  gap: 0.5rem;
  margin: 0.5rem 0;
  font-family: var(--text-font);
}

.size-buttons button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--blue-color);
  cursor: pointer;
  transition: 0.2s;
}

.size-buttons button.selected {
  border-color: none;
  background-color: var(--white);
  font-weight: bold;
}

.date-container {
  margin: 1rem 0;
}

.date-container label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.3rem;
  font-family: var(--text-font);
}

.date-container input[type="date"] {
  padding: 0.4rem;
  box-shadow: 1px solid var(--color);
  border: 1px solid rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.date-container p {
  font-size: 0.9rem;
  margin: 0.5rem 0 0 0;
  font-family: var(--text-font);
}

.date-container small {
  color: var(--color);
  opacity: 0.5;
  display: block;
  margin-bottom: 0.5rem;
}

.btn-agregar {
  margin-top: 0.5rem;
  background-color: var(--pink);
  color: var(--color);
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.product-details-container > div:last-child {
  margin-top: 1.5rem;
  font-size: 0.95rem;
  border: 1px solid rgba(0, 0, 0, 0.08);
}
}
